.ming {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ming .ming-aside {
  position: absolute;
  left: 0;
  width: 170px;
  bottom: 0;
  top: 0;
}

.ming .ming-aside .link-row {
  line-height: 30px;
}

.ming .ming-aside .link-row a {
  text-decoration: none;
  color: #000;
}

.ming .ming-aside .link-row a.on {
  color: red;
}

.ming .ming-main {
  position: absolute;
  left: 170px;
  bottom: 0;
  top: 0;
  right: 0;
}
